# Создано https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Значок должен заканчиваться двумя \ r
Значок


# Миниатюры
._ *

# Файлы, которые могут появиться на внешнем диске
.Spotlight-V100
.Trashes

# Каталоги, потенциально созданные на удаленном ресурсе AFP
.AppleDB
.AppleDesktop
Сетевая папка
Временные предметы
.apdisk


### Python ###
# Байт-скомпилированные / оптимизированные / DLL файлы
__pycache __ /
* .Py [код]

# C расширения
*.так

# Распространение / упаковка
.Python
ENV /
строить /
разработать-яйцо /
расстояние /
загрузки /
яйца /
Библиотека /
lib64 /
части /
sdist /
вар /
* .Egg-инфо /
.installed.cfg
*.яйцо

# PyInstaller
# Обычно эти файлы пишутся скриптом Python из шаблона
# до того, как PyInstaller создаст исполняемый файл, чтобы добавить в него информацию о дате / другой информации.
* .manifest
* .spec

# Установщик логов
пип-log.txt
пип-удалить-это-directory.txt

# Юнит-тесты / отчеты о покрытии
htmlcov /
.tox /
.coverage
.cache
nosetests.xml
coverage.xml

# Переводы
* .mo
*.горшок

# Сфинкс документация
документы / _build /

# PyBuilder
мишень /


### Джанго ###
*.журнал
*.горшок
* .pyc
__pycache __ /
local_settings.py

.env
db.sqlite3